CompileFlags:            # 编译标志部分
  Add:
    - "-std=c++20"      # 添加 C++17 支持
    # - "--I/home/procrastinator/proj/vcpkg/installed/x64-linux/include" # 包含头文件, 绝对路径
    - "-I/home/procrastinator/.xmake/packages/m/muduo/2022.11.01/e9382a25649e4e43bf04f01f925d9c2f/include" # 包含头文件, 绝对路径
    - "-I/home/procrastinator/.xmake/packages/p/pybind11/v3.0.0/9040004dfb1f4b228b3c2d0aa7d50f49/include" # 包含头文件, 绝对路径
    - "-I/home/procrastinator/.xmake/packages/t/toml11/v4.4.0/d9b5d9555a9849b0a8e5714c4e66d566/include"
    - "-I/home/procrastinator/.xmake/packages/s/spdlog/v1.15.3/281ab689e3ca4a04813dc400d53c7ac7/include"
    - "-I/home/procrastinator/.xmake/packages/g/gtest/v1.17.0/80b513dc518a40ea8e8714a0a63761e4/include"
    - "-I/home/procrastinator/.xmake/packages/p/python/3.13.2/7dbc4c2192884093912e9407517d19cf/lib/python3.13" # 包含头文件, 绝对路径
